fastapi==0.121.2
uvicorn[standard]==0.38.0

# TensorFlow CPU runtime (includes tf.keras)
tensorflow-cpu==2.20.0

# Image + file handling
pillow
python-multipart==0.0.20
opencv-python-headless

# Data validation (FastAPI uses this)
pydantic==2.12.4
